.banners-grid {
  display: grid;
  grid-template-columns: repeat(2,minmax(0,1fr));
  grid-template-rows: repeat(8,minmax(0,1fr));
  grid-gap: .625rem;
  gap: .625rem
}



@media(min-width: 768px) {
  .banners-grid {
      max-height:95vh;
      grid-template-columns: repeat(5,minmax(0,1fr));
      gap: 1.25rem
  }
}

@media(max-width: 820px) {
  .banners-grid--10 {
      max-height:none;
      grid-template-columns: repeat(2,minmax(0,1fr));
      grid-template-rows: repeat(12,minmax(0,1fr))
  }
}

.banners-grid--10 .banner-entry-two {
  max-height: none
}

.banners-grid .banner-entry-two {
  border-radius: var(--border-radius)
}

.banners-grid .banner-entry-two a {
  padding-bottom: 97%
}

.banners-grid .banner-entry-two:first-child {
  grid-row: 1/5;
  grid-column: 1/2
}

@media(max-width: 820px) {
  .banners-grid .banner-entry-two:first-child {
      grid-row:1/3;
      grid-column: 1/2
  }
}

.banners-grid .banner-entry-two:nth-child(2) {
  grid-row: 5/9;
  grid-column: 1/2
}

@media(max-width: 820px) {
  .banners-grid .banner-entry-two:nth-child(2) {
      grid-row:1/3;
      grid-column: 2/3
  }
}

.banners-grid .banner-entry-two:nth-child(3) {
  grid-row: 1/3;
  grid-column: 2/3
}

@media(max-width: 820px) {
  .banners-grid .banner-entry-two:nth-child(3) {
      grid-row:3/5;
      grid-column: 1/3
  }
}

.banners-grid .banner-entry-two:nth-child(3) a {
  padding-bottom: 0
}

.banners-grid .banner-entry-two:nth-child(4) {
  grid-row: 3/9;
  grid-column: 2/3
}

@media(max-width: 820px) {
  .banners-grid .banner-entry-two:nth-child(4) {
      grid-row:5/7;
      grid-column: 1/2
  }
}

.banners-grid .banner-entry-two:nth-child(5) {
  grid-row: 1/5;
  grid-column: 3/4
}

@media(max-width: 820px) {
  .banners-grid .banner-entry-two:nth-child(5) {
      grid-row:5/7;
      grid-column: 2/3
  }
}

.banners-grid .banner-entry-two:nth-child(6) {
  grid-row: 5/9;
  grid-column: 3/4
}

@media(max-width: 820px) {
  .banners-grid .banner-entry-two:nth-child(6) {
      grid-row:7/9;
      grid-column: 1/2
  }
}

.banners-grid .banner-entry-two:nth-child(7) {
  grid-row: 1/7;
  grid-column: 4/5
}

@media(max-width: 820px) {
  .banners-grid .banner-entry-two:nth-child(7) {
      grid-row:7/9;
      grid-column: 2/3
  }
}

.banners-grid .banner-entry-two:nth-child(8) {
  grid-row: 7/9;
  grid-column: 4/5
}

@media(max-width: 820px) {
  .banners-grid .banner-entry-two:nth-child(8) {
      grid-row:9/11;
      grid-column: 1/3
  }
}

.banners-grid .banner-entry-two:nth-child(8) a {
  padding-bottom: 0
}

.banners-grid .banner-entry-two:nth-child(9) {
  grid-row: 1/5;
  grid-column: 5/6
}

@media(max-width: 820px) {
  .banners-grid .banner-entry-two:nth-child(9) {
      grid-row:11/13;
      grid-column: 1/2
  }

  .banners-grid .banner-entry-two:nth-child(9) a {
      padding-bottom: 90%
  }
}

.banners-grid .banner-entry-two:nth-child(10) {
  grid-row: 5/9;
  grid-column: 5/6
}

@media(max-width: 820px) {
  .banners-grid .banner-entry-two:nth-child(10) {
      grid-row:11/13;
      grid-column: 2/3
  }
}

.banners-grid--5 {
  display: grid;
  grid-template-columns: repeat(2,minmax(0,1fr));
  grid-gap: .625rem;
  gap: .625rem
}

.s-block--features-products.two-cols .banners-grid--5 .product-entry__title a {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1
}

@media(min-width: 768px) {
  .banners-grid--5 {
      grid-template-columns:repeat(4,minmax(0,1fr));
      gap: 1.25rem
  }
}

.banners-grid--5 .banner-entry-two {
  border-radius: var(--border-radius)
}

.banners-grid--5 .banner-entry-two a {
  padding-bottom: 67%
}

.banners-grid--5 .banner-entry-two:first-child {
  grid-column: span 2/span 2;
  grid-row: span 3/span 3
}

@media(min-width: 768px) {
  .banners-grid--5 .banner-entry-two:first-child {
      grid-row:span 8/span 8
  }
}

.banners-grid--5 .banner-entry-two:nth-child(2) {
  grid-column: span 1/span 1;
  grid-row: span 2/span 2
}

@media(min-width: 768px) {
  .banners-grid--5 .banner-entry-two:nth-child(2) {
      grid-row:span 3/span 3
  }
}

.banners-grid--5 .banner-entry-two:nth-child(3) {
  grid-column: span 1/span 1;
  grid-row: span 3/span 3
}

@media(min-width: 768px) {
  .banners-grid--5 .banner-entry-two:nth-child(3) {
      grid-row:span 4/span 4
  }
}

.banners-grid--5 .banner-entry-two:nth-child(4) {
  grid-column: span 1/span 1;
  grid-row: span 3/span 3
}

@media(min-width: 768px) {
  .banners-grid--5 .banner-entry-two:nth-child(4) {
      grid-row:span 5/span 5
  }
}

.banners-grid--5 .banner-entry-two:nth-child(5) {
  grid-column: span 1/span 1;
  grid-row: span 2/span 2
}

@media(min-width: 768px) {
  .banners-grid--5 .banner-entry-two:nth-child(5) {
      grid-row:span 4/span 4
  }

  .banners-grid--4 {
      grid-template-columns: repeat(3,minmax(0,1fr))
  }
}

.banners-grid--4 .banner-entry-two a {
  padding-bottom: 70%
}

.banners-grid--4 .banner-entry-two:first-child {
  grid-column: span 1/span 1;
  grid-row: span 4/span 4
}

@media(min-width: 768px) {
  .banners-grid--4 .banner-entry-two:first-child {
      grid-row:span 8/span 8
  }
}

.banners-grid--4 .banner-entry-two:nth-child(2) {
  grid-column: span 1/span 1;
  grid-row: span 3/span 3
}

@media(min-width: 768px) {
  .banners-grid--4 .banner-entry-two:nth-child(2) {
      grid-row:span 4/span 4
  }
}

.banners-grid--4 .banner-entry-two:nth-child(3) {
  grid-column: span 1/span 1;
  grid-row: span 5/span 5
}

@media(min-width: 768px) {
  .banners-grid--4 .banner-entry-two:nth-child(3) {
      grid-row:span 8/span 8
  }
}

.banners-grid--4 .banner-entry-two:nth-child(4) {
  grid-column: span 1/span 1;
  grid-row: span 4/span 4
}

@media(min-width: 768px) {
  .banners-grid--4 .banner-entry-two:nth-child(4) {
      grid-row:span 4/span 4
  }

  .banners-grid--3 {
      grid-template-columns: repeat(3,minmax(0,1fr))
  }
}

.banners-grid--3 .banner-entry-two img {
  position: static
}

.banners-grid--3 .banner-entry-two a {
  padding-bottom: 0
}

.banners-grid--3 .banner-entry-two:first-child,.banners-grid--3 .banner-entry-two:nth-child(2),.banners-grid--3 .banner-entry-two:nth-child(3) {
  grid-column: span 2/span 2;
  grid-row: span 8/span 8
}

@media(min-width: 768px) {
  .banners-grid--3 .banner-entry-two:first-child,.banners-grid--3 .banner-entry-two:nth-child(2),.banners-grid--3 .banner-entry-two:nth-child(3) {
      grid-column:span 1/span 1;
      grid-row: span 8/span 8
  }
}

.banners-grid--2 {
  max-height: 420px
}

@media(min-width: 768px) {
  .banners-grid--2 {
      grid-template-columns:repeat(12,minmax(0,1fr))
  }
}

.banners-grid--2 .banner-entry-two a {
  padding-bottom: 60%
}

.banners-grid--2 .banner-entry-two:first-child {
  grid-column: span 1/span 1;
  grid-row: span 8/span 8
}

@media(min-width: 768px) {
  .banners-grid--2 .banner-entry-two:first-child {
      grid-column:span 6/span 6
  }
}

.banners-grid--2 .banner-entry-two:nth-child(2) {
  grid-column: span 1/span 1;
  grid-row: span 8/span 8
}

@media(min-width: 768px) {
  .banners-grid--2 .banner-entry-two:nth-child(2) {
      grid-column:span 6/span 6
  }
}

.banners-grid--1 .banner-entry-two:first-child {
  grid-column: 1/-1;
  grid-row: 1/-1
}

.banner-entry-two {
  position: relative;
  max-height: 240px;
  overflow: hidden;
  --tw-bg-opacity: 1;
  background-color: #f3f4f6;
  background-color: rgba(243,244,246,var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: #1f2937;
  color: rgba(31,41,55,var(--tw-text-opacity))
}

@media(min-width: 640px) {
  .banner-entry-two {
      max-height:320px
  }
}

@media(min-width: 768px) {
  .banner-entry-two {
      max-height:none
  }
}

.banner-entry__text {
  position: absolute;
  bottom: 1.5rem;
  z-index: 1;
  width: 100%;
  --tw-translate-y: 100%;
  transform: translate(var(--tw-translate-x),100%) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-family: dinnextltarabic,-apple-system,BlinkMacSystemFont;
  font-family: var(--font-main),-apple-system,BlinkMacSystemFont;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 300ms
}

input[type=radio].sr-only div.banner-entry__text {
  transition: all .3s
}

input[type=radio].sr-only:checked~div.banner-entry__text {
  border-color: var(--color-main)
}

.with-gradient-overlay .banner-entry-two__text:before {
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  height: 10rem;
  width: 100%;
  background-image: linear-gradient(to top,rgba(0,0,0,0.7) var(--tw-gradient-from-position),rgba(0,0,0,0) var(--tw-gradient-to-position));
  background-image: linear-gradient(to top,var(--tw-gradient-stops));
  --tw-gradient-from: rgba(0, 0, 0, 0.7) var(--tw-gradient-from-position);
  --tw-gradient-to: rgba(0, 0, 0, 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-content: "";
  content: "";
  content: var(--tw-content)
}

input[type=radio].sr-only div.with-gradient-overlay .banner-entry__text:before {
  transition: all .3s
}

input[type=radio].sr-only:checked~div.with-gradient-overlay .banner-entry__text:before {
  border-color: var(--color-main)
}

.banner-entry__text h3 {
  bottom: 100%;
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.75rem
}

@media(min-width: 768px) {
  .banner-entry__text h3 {
      font-size:22px
  }
}

.banner-entry__text .banner__desc {
  margin-top: .25rem;
  font-size: .875rem;
  line-height: 1.25rem;
  opacity: 0;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 300ms
}

@media(max-width: 992px) {
  .banner-entry__text {
      --tw-translate-y: 0px;
      transform: translate(var(--tw-translate-x),0px) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
      transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
      opacity: 1
  }

  .banner-entry__text .banner__desc {
      opacity: .8
  }
}

.banner-entry-two.without-img a {
  padding: 15px 20px!important
}

.banner-entry-two.without-img .banner-entry-two__text {
  position: static;
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x),0px) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  padding: 0
}

.banner-entry-two.without-img .banner-entry-two__text::before {
  content: var(--tw-content);
  display: none
}

.banner-entry-two.without-img h3 {
  position: static;
  margin-bottom: .25rem;
  font-size: 2rem;
  line-height: 3rem
}

.banner-entry-two.without-img .banner__desc {
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x),0px) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  opacity: .95
}

.banner-entry-two:hover .banner-entry__text {
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x),0px) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  opacity: 1
}

.banner-entry-two:hover .banner-entry__text .banner__desc {
  opacity: .8
}

.banner-entry-two:hover img {
  transform: scale3d(1.05,1.05,1)
}

.banner-entry-two img {
  transition: transform .5s cubic-bezier(0,0,.44,1.18);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover
}

.banner-entry-two a {
  position: relative;
  z-index: 1;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 500ms
}

.banner-entry-two a:hover {
  opacity: 1
}

.banner-entry-two a.text-with-border {
  border-radius: .375rem;
  border-style: dashed;
  --tw-border-opacity: 1;
  border-color: #e5e7eb;
  border-color: rgba(229,231,235,var(--tw-border-opacity))
}

@media(min-width: 480px) {
  .banner-entry-two a.text-with-border {
      border-width:1px
  }
}

.two-row .banner-entry-two:first-child {
  padding: 1.25rem
}

@media(min-width: 640px) {
  .two-row .banner-entry-two:first-child {
      grid-column:span 1/span 1;
      grid-row: span 2/span 2
  }
}

@media(min-width: 768px) {
  .two-row .banner-entry-two:first-child {
      height:100%
  }
}

.two-row .banner-entry-two:first-child.with-hover:after {
  opacity: 1
}

.two-row .banner-entry-two:first-child>a {
  opacity: 1
}

.two-row .banner-entry-two:first-child h3 {
  font-size: 1.25rem;
  line-height: 3rem
}

.has-overlay a:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to top,rgba(0,0,0,0.6) var(--tw-gradient-from-position),rgba(0,0,0,0) var(--tw-gradient-to-position));
  background-image: linear-gradient(to top,var(--tw-gradient-stops));
  --tw-gradient-from: rgba(0, 0, 0, 0.6) var(--tw-gradient-from-position);
  --tw-gradient-to: rgba(0, 0, 0, 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 300ms;
  --tw-content: "";
  content: "";
  content: var(--tw-content)
}

input[type=radio].sr-only div.has-overlay a:after {
  transition: all .3s
}

input[type=radio].sr-only:checked~div.has-overlay a:after {
  border-color: var(--color-main)
}

.has-overlay.with-hover:after {
  transition: opacity .3s;
  opacity: 0
}

.has-overlay.with-hover:hover:after {
  opacity: 1
}

.has-overlay:hover:after {
  background-color: rgba(0,0,0,.7)
}

.full-banner-entry-two {
  position: relative;
  grid-row: span 2/span 2;
  height: 20rem;
  overflow: hidden;
  --tw-bg-opacity: 1;
  background-color: #e7e5e4;
  background-color: rgba(231,229,228,var(--tw-bg-opacity));
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 1.25rem;
  text-align: center;
  --tw-text-opacity: 1;
  color: #fff;
  color: rgba(255,255,255,var(--tw-text-opacity));
  transition-property: opacity;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 150ms
}










/* HTML: <div class="ribbon">Your text content</div> */
.ribbon {
  --tw-bg-opacity:1;
  border-block: .3em solid #0000;
  padding-inline: calc(var(--r) + .25em) .9em;
  line-height: 2;
  clip-path: polygon(0 0,100% 0,100% 100%,0 100%,var(--r) calc(100% - .25em),0 50%,var(--r) .25em);
  background:
   radial-gradient(.2em 50% at right,#000a,#0000) border-box,
   #BD1550 padding-box; /* the color  */
  width: fit-content;
  --f: 10px; /* control the folded part*/
  --r: 15px; /* control the ribbon shape */
  --t: 10px; /* the top offset */
  position: absolute;
  inset: var(--t) calc(-1*var(--f)) auto auto;
  padding: 0 20px var(--f) calc(10px + var(--r));
   font-size: 15px;
  font-weight: bold;
  color: #fff;
 
  
}

.animated-ads.removerElan {
  display: none;
}
.icons-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}
button {
  font-family: shamelbold;
}
.search-icon-header {
  cursor: pointer;
}
.search-finish {
  position: fixed;
  padding-top: 50px;
  top: -100%;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(107, 114, 128, .7490196078);
  transition: all .2s ease-out;
}
.cat-thee {
  grid-template-columns: repeat(2, 1fr)!important;
}
.search-finish.active-search {
  top: 0;
}
.s-search-container input {
  border-radius: 10px!important;
  width: 500px;
}
.s-search-container {
  background-color: #fff;
}
.blog-index .swiper-pagination-bullet {
  width: 65px;
  height: 8px;
}
.blog .footer-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-right: 5rem;
  color: #fff;
  font-weight: 700;
}
.blog .footer-list a {
  margin: 0;
  padding: 0;
  font-size: 20px;
}
.blog h3 {
  display: none;
}
@media(max-width:1025px) {
  .icons-header {
  display: hidden;
}
}.search-finish {
  margin: 0!important;
}
.header-search {
  width: 100%}
.header-search salla-search {
  width: 100%}
.header-search salla-search input {
  width: 100%;
  border: none;
  border-radius: 0!important;
  padding: 20px 2.5rem 20px 0!important;
  box-shadow: 1px 0 5px rgba(0, 0, 0, .05);
}
.cart-header salla-cart-summary {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0!important;
  padding: 3px;
}
#slider-feature-product .swiper-wrapper {
  padding: 0 0 5px 0;
}
.header-buttons.second h4 {
  margin-left: .15rem;
}
.header-buttons.second .down-drop {
  transform: translateY(-4px);
}
.header-buttons.second {
  color: #334155;
}
svg {
  fill: #334155!important;
}
.s-cart-summary-count {
  top: -.5rem!important;
  right: -.6rem;
}
.header-buttons.second div {
  transform: translateY(-1px);
}
.navbar-brand {
  margin-left: 5px;
}
.logo {
  font-size: 30px;
  color: #000;
  font-family: Cairo;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header-search salla-search input {
  border-radius: 5px;
  background: rgba(217, 217, 217, .93);
}
.header-search salla-search input::-moz-placeholder {
  opacity: 0;
}
.header-search salla-search input::placeholder {
  opacity: 0;
}
.s-search-icon svg {
  width: 20px;
  height: 20px;
}
.sicon-menu {
  color: #334155!important;
}
.s-block--animated-brands--marquee .marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: calc(clamp(10rem, 1rem + 40vmin, 30rem)/14);
  animation: scroll-x 60s linear infinite;
}
.s-block--animated-brands--marquee:hover .marquee__group {
  animation-play-state: paused;
}
.s-block--animated-brands--marquee {
  display: flex;
  overflow: hidden;
  direction: ltr;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  gap: calc(clamp(10rem, 1rem + 40vmin, 30rem)/14);
}
.marquee--reverse .marquee__group {
  animation-direction: reverse;
  animation-delay: -3s;
}
@keyframes scroll-x {
  0% {
  transform: translateX(calc(-100% - clamp(10rem, 1rem + 40vmin, 30rem)/14));
}
100% {
  transform: translateX(100%);
}
}.main-nav-container {
  height: auto!important;
  min-height: auto!important;
}
.menu-new-design ul {
  padding-top: 0;
}
.menu-new-design ul li a {
  padding-bottom: 20px!important;
  padding-top: 20px!important;
  color: #fff!important;
}
.animated-ads {
  width: 37vw;
  height: 338px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  right: calc(-37vw + 50px);
  transform: translateY(-50%);
  z-index: 11;
  transition: all ease .7s;
}
html[dir=ltr] .animated-ads {
  left: calc(-37vw + 50px);
}
html[dir=ltr] .header-buttons.second .down-drop {
  transform: translateY(-8px);
}
html[dir=ltr] #btn-open {
  flex-direction: row-reverse;
}
html[dir=ltr] .animated-ads.open {
  left: 0;
}
html[dir=ltr] .animated-ads.open .arrow {
  transform: rotate(0);
}
html[dir=ltr] .animated-ads .arrow {
  transform: rotate(180deg);
}
.animated-ads.open {
  right: 0;
}
.animated-ads .content {
  width: calc(59vw - 50px);
  height: 100%}
.animated-ads #btn-open {
  min-width: 50px;
  height: 100%;
  writing-mode: vertical-rl;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}
.animated-ads #btn-open .text {
  transform: rotate(180deg);
}
.animated-ads.open .arrow {
  transform: rotate(180deg);
}