<div id="my_modal" class="fixed z-10 inset-0 overflow-y-auto hidden">
    <span id="show_time">0.00</span>

    <div class="flex items-center justify-center min-h-screen ">
        <div class="bg-white w-1/2  rounded shadow-md bg-white rounded-lg overflow-hidden shadow-lg ring-4 ring-red-500 ring-opacity-40 max-w-sm">
            <div class="relative">
                <img class=" w-full"  src="https://images.unsplash.com/photo-1523275335684-37898b6baf30" alt="Product Image">
                <div class="absolute top-0 right-0 bg-red-500 text-white px-2 py-1 m-2 rounded-md text-sm font-medium">
                    <button class="" fdprocessedid="quhb0i">


                        <svg xmlns="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-close-128.png" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 56.92 56.92" style="enable-background:new 0 0 56.92 56.92;" xml:space="preserve">
                        <g>
                        <path class="st3" d="M45.77,46.01c-5.18-6.21-10.73-12.24-16.65-18.08c-0.21-0.21-0.42-0.41-0.63-0.62l0,0   c-5.16-5.06-10.6-9.97-16.33-14.73c-0.66-0.55-1.33-1.1-2.01-1.65"></path>
                        <path class="st3" d="M11.26,46.06c5.34-6.41,10.87-12.45,16.59-18.14c0.21-0.21,0.42-0.42,0.63-0.63l0,0   c5.27-5.22,10.7-10.14,16.27-14.78c0.67-0.56,1.34-1.11,2.01-1.65"></path>
                        </g>
                        </svg>
                        </button>
                </div>
                
            <div class="p-4">
                <h3 class="text-lg font-medium mb-2">احصل على خصمك فوراً</h3>
                <p class="text-gray-600 text-sm mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae ante
                    vel eros fermentum faucibus sit amet euismod lorem.</p>
                <div class="flex items-center justify-between">
                    <button style="background-color: rgb(84, 17, 18); padding: 1em 2em; border-radius: 4px; min-width: 70%; border: medium; font-weight: bold; color: rgb(255, 255, 255); cursor: pointer; letter-spacing: 0px;">احصل على خصمك فوراًاحصل على كود الخصم </button>                   </div>
            </div>
        </div>
    </div>
</div>

</div>

  <script type="text/javascript">
    
    var my_modal = document.getElementById('my_modal');
var span_tag = document.getElementById('show_time');
var countdown_call = '';
var time_count = 0;

function showModal(){
  my_modal.style.display = "block";
  // countdown after show
  countdown_call = setInterval(updateTime, 1000); // call for every 1s
}
// now show automatically after 1s
// working
setTimeout(showModal,1000) // 1000ms


// now close 
function closeModal(){
  my_modal.style.display = "none";
}
// setTimeout(closeModal,3000) // 1000ms
// no need

// now countdown time
function updateTime(){
  time_count++;  
  span_tag.innerHTML = time_count;
  if(time_count == 21){
    clearInterval(countdown_call);
    closeModal();
  }

   // JavaScript to toggle the modal
   const openContactFormButton = document.getElementById('openContactForm');
    const closeContactFormButton = document.getElementById('closeContactForm');
    const contactFormModal = document.getElementById('contactFormModal');

    openContactFormButton.addEventListener('click', () => {
        contactFormModal.classList.remove('hidden');
    });

    closeContactFormButton.addEventListener('click', () => {
        contactFormModal.classList.add('hidden');
    });

}
</script>