

<section class="s-block s-block--anime s-block--today-deal wide-placeholder relative flex-center
  " id="today-deal-7" style="color: #ffffff;"><span class="s-design-before s-design-invisible-dom" id="edit-858056982"></span>
<div class="container relative overflow-hidden lg:rounded">
<div class="absolute inset-0 bg-cover bg-bgColor bg-no-repeat" style="background-color: #222222; background-image: url({{ banner.photo }});"></div>
<div class="absolute inset-0 bg-dark " style="opacity: 0.9;">
</div>
<div class="relative flex flex-col-reverse lg:flex-row gap-5 lg:gap-10 py-12 lg:px-8 items-center lg:justify-between">
<div class="lg:max-w-xl  flex flex-col justify-center relative">
<h2 class="text-2xl lg:text-[40px] font-bold lg:!leading-14 anime-item" style="opacity: 1; transform: translateY(0px);">
  {{ banner.title }}</h2>
<p class="relative mt-3 md:mt-4 text-lg leading-8 opacity-70 anime-item" style="opacity: 1; transform: translateY(0px);">
  {{ banner.description }}
</p>
<div class="mt-6 flex items-center gap-x-6 anime-item" style="opacity: 1; transform: translateY(0px);">
<salla-button class="btn--main group s-button-wrap hydrated" href="https://salla.sa/dev-vnvkwjl46vvrz8qs/redirect/categories/1639426215" shape="btn" color="primary" fill="solid" size="medium" width="normal" type="button"><!----><a href="https://salla.sa/dev-vnvkwjl46vvrz8qs/redirect/categories/1639426215"><button class="btn--main group s-button-element s-button-btn s-button-solid s-button-primary s-button-loader-after" href="https://salla.sa/dev-vnvkwjl46vvrz8qs/redirect/categories/1639426215" type="button" fdprocessedid="bregt"><span class="s-button-text">
<span class="text"></span>
<i class="arrow-icon sicon-arrow-up-left"></i>
</span></button></a></salla-button>
</div>
</div>
<salla-count-down class="flex-1 anime-item s-count-down-wrapper hydrated" 
 date="2025-01-01 01:00" boxed=""
  labeled=""><ul class="s-count-down-list s-count-down-boxed s-count-down-md s-count-down-dark">
    <li class="s-count-down-item"><div class="s-count-down-item-value">٥٩</div>
        <div class="s-count-down-item-label">ثانية</div></li><li class="s-count-down-item">
            <div class="s-count-down-item-value">٣٥</div><div class="s-count-down-item-label">دقيقة</div></li>
            <li class="s-count-down-item"><div class="s-count-down-item-value">٥

            </div><div class="s-count-down-item-label">ساعة</div></li><li class="s-count-down-item">
                <div class="s-count-down-item-value">١٧٠</div><div class="s-count-down-item-label">يوم

                </div></li></ul>
              </salla-count-down>
</div>
</div>
<div class="hidden text-[100px] md:text-[180px] lg:text-[270px]"></div>
</span></section>