

<section class="s-block s-block--anime s-block--today-deal wide-placeholder relative flex-center
  " id="today-deal-7" style="color: #ffffff;"><span class="s-design-before s-design-invisible-dom" id="edit-858056982"></span>
<div class="container relative overflow-hidden lg:rounded">
<div 
{% for banner in component.banner %}

style="background-image: url({{ banner.photo }});" class="overlay-bg bg-cover bg-center absolute inset-0"
></div>
<div class="absolute inset-0 bg-dark " style="opacity: 0.9;">
</div>
<div class="relative flex flex-col-reverse lg:flex-row gap-5 lg:gap-10 py-12 lg:px-8 items-center lg:justify-between">
<div class="lg:max-w-xl  flex flex-col justify-center relative">
<h2 class="text-2xl lg:text-[40px] font-bold lg:!leading-14 anime-item" style="opacity: 1; transform: translateY(0px);">
  {{ banner.title }}</h2>
<p class="relative mt-3 md:mt-4 text-lg leading-8 opacity-70 anime-item" style="opacity: 1; transform: translateY(0px);">
  {{ banner.description }}
</p>
<div class="mt-6 flex items-center gap-x-6 anime-item" style="opacity: 1; transform: translateY(0px);">
  <button class="w-[200px] mt-[32px] h-[56px] text-[16px] font-bold rounded-lg  hover:opacity-75 duration-300 bg-[var(--f-color)] text-white" fdprocessedid="wjdwdr">اكتشفي المزيد</button>
</div>
</div>


<salla-count-down date="${this.parseDate(this.banner.countdown)}"  boxed>
  
</salla-count-down>
</div>
</div>
<div class="hidden text-[100px] md:text-[180px] lg:text-[270px]"></div>
</span></section>

{% endfor %}


{% block scripts %}
    <script defer src="{{ 'product.js' | asset }}">
     

      parseDate(date) {
    const parsedDate = new Date(date * 1000);
    const year = parsedDate.getFullYear();
    const month = String(parsedDate.getMonth() + 1).padStart(2, "0");
    const day = String(parsedDate.getDate()).padStart(2, "0");
    const outputDate = ${year}/${month}/${day};
    return outputDate;
  }
    </script>
   
  
{% endblock %}

