
<section class="bg-white">

    <div class="text-center ">
        <h2 class="text-4xl font-bold mb-10"> {{ component.item }}

        </h2>
    </div>


    <div class="flex  flex-col items-center justify-center space-y-8  px-6 sm:flex-row sm:space-x-6 sm:space-y-0">
       
        {% for code in component.code %}
        <div class="w-full max-w-m overflow-hidden rounded-lg shadow-s m-4 duration-300 hover:scale-105 hover:shadow-s">
            <div class="flex i justify-center mb-3">
                <div class="bg-gradient-to-br from-red-600 to-pink-500 text-white text-center py-10 px-20 rounded-lg shadow-md relative">
                <h3 class="text-2xl font-semibold mb-4">{{code.item_1}}</h3>
                <div class="bg-white text-gray-800 rounded-lg px-4 py-2 flex items-center justify-between">
                    <span class="text-2xl font-semibold">{{code.item_3}}</span>
                    <button class="bg-blue-800 text-white px-3 py-1 rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">أنسخ الكود</button>
                </div>
                </p>
                
            <div class="w-12 h-12 bg-white rounded-full absolute top-1/2 transform -translate-y-1/2 left-0 -ml-6"></div>
            <div class="w-12 h-12 bg-white rounded-full absolute top-1/2 transform -translate-y-1/2 right-0 -mr-6"></div>
            
            </div>
        </div>
        
        </div>


        {% endfor %}

      </div>
      </section>

      <section class="banner-images mb-[56px] md:mb-[111px]" >
        <div class="content-image container flex gap-[24px] flex-wrap justify-end">
        <div class="cat rounded-md relative !max-h-[250px] h-[250px] overflow-hidden xl:overflow-visible">
        <a href="">
        <div class="photo w-full !h-[390px]">
        <img loading="lazy" class="object-cover rounded-md" width="100%" height="100%" src="https://cdn.salla.sa/form-builder/w22LPnH8RLHjd5bQ7Ip9iMBP5D0h8037c9mXB6Yq.jpg" alt="هواتف محمولة">
        </div>
        <div style="color: #004956" class="box-text-cat pt-[24px] rtl:pr-[24px] ltr:pl-[24px] absolute top-0 rtl:right-0 ltr:left-0">
        <h2 class="title flex items-center gap-[9px] text-[15px] md:text-[19px] xl:text-[24px] mb-1 md:mb-[6px] font-bold">
        هواتف محمولة
        <span class="pt-2 text-inherit"><i class="sicon-arrow-left"></i></span>
        </h2>
        <p class="desc font-normal text-[13px] md:text-[14px ] xl:text-[16px] leading-normal text-inherit">أحدث الاجهزة بأحسن الاسعار</p>
        </div> </a>
        </div>
        <div class="cat rounded-md relative !max-h-[250px] h-[250px] overflow-hidden xl:overflow-visible">
        <a href="https://s.salla.sa/design/component/edit/155276127">
        <div class="photo w-full h-full">
        <img loading="lazy" class="object-cover rounded-md" width="100%" height="100%" src="https://cdn.salla.sa/form-builder/Dw4ZYHgka3kNNeENvjUNAXGc1D62giBIdoRYR2u0.jpg" alt="ملحقات الكمبيوتر">
        </div>
        <div style="color: #004956" class="box-text-cat pt-[24px] rtl:pr-[24px] ltr:pl-[24px] absolute top-0 rtl:right-0 ltr:left-0">
        <h2 class="title flex items-center gap-[9px] text-[15px] md:text-[19px] xl:text-[24px] mb-1 md:mb-[6px] font-bold">
        ملحقات الكمبيوتر
        <span class="pt-2 text-inherit"><i class="sicon-arrow-left"></i></span>
        </h2>
        <p class="desc font-normal text-[13px] md:text-[14px ] xl:text-[16px] leading-normal text-inherit">أحدث الاجهزة بأحسن الاسعار</p>
        </div> </a>
        </div>
        <div class="cat rounded-md relative !max-h-[250px] h-[250px] overflow-hidden xl:overflow-visible">
        <a href="https://s.salla.sa/design/component/edit/155276127">
        <div class="photo w-full h-full">
        <img loading="lazy" class="object-cover rounded-md" width="100%" height="100%" src="https://cdn.salla.sa/form-builder/fPR7sq9cFAt4pZOxCn4uMiRO7zrsE1ZCK7WgwLUm.jpg" alt="ساعات">
        </div>
        <div style="color: #ffffff" class="box-text-cat pt-[24px] rtl:pr-[24px] ltr:pl-[24px] absolute top-0 rtl:right-0 ltr:left-0">
        <h2 class="title flex items-center gap-[9px] text-[15px] md:text-[19px] xl:text-[24px] mb-1 md:mb-[6px] font-bold">
        ساعات
        <span class="pt-2 text-inherit"><i class="sicon-arrow-left"></i></span>
        </h2>
        <p class="desc font-normal text-[13px] md:text-[14px ] xl:text-[16px] leading-normal text-inherit">أحدث الاجهزة بأحسن الاسعار</p>
        </div> </a>
        </div>
        <div class="cat rounded-md relative !max-h-[250px] h-[250px] overflow-hidden xl:overflow-visible">
        <a href="https://s.salla.sa/design/component/edit/155276127">
        <div class="photo w-full h-full">
        <img loading="lazy" class="object-cover rounded-md" width="100%" height="100%" src="https://cdn.salla.sa/form-builder/tWDwitejgPMnPSduP3twmnRasj3o4ssVUIFCqD3t.jpg" alt="سماعات أذن">
        </div>
        <div style="color: #004956" class="box-text-cat pt-[24px] rtl:pr-[24px] ltr:pl-[24px] absolute top-0 rtl:right-0 ltr:left-0">
        <h2 class="title flex items-center gap-[9px] text-[15px] md:text-[19px] xl:text-[24px] mb-1 md:mb-[6px] font-bold">
        سماعات أذن
        <span class="pt-2 text-inherit"><i class="sicon-arrow-left"></i></span>
        </h2>
        <p class="desc font-normal text-[13px] md:text-[14px ] xl:text-[16px] leading-normal text-inherit">أحدث الاجهزة بأحسن الاسعار</p>
        </div> </a>
        </div>
        <div class="cat rounded-md relative !max-h-[250px] h-[250px] overflow-hidden xl:overflow-visible">
        <a href="https://s.salla.sa/design/component/edit/155276127">
        <div class="photo w-full h-full">
        <img loading="lazy" class="object-cover rounded-md" width="100%" height="100%" src="https://cdn.salla.sa/form-builder/uOFnlAPKm0yP2Ji8YCfAUvGt2LP31x5Wc6ixsJis.jpg" alt="سماعات">
        </div>
        <div style="color: #ffffff" class="box-text-cat pt-[24px] rtl:pr-[24px] ltr:pl-[24px] absolute top-0 rtl:right-0 ltr:left-0">
        <h2 class="title flex items-center gap-[9px] text-[15px] md:text-[19px] xl:text-[24px] mb-1 md:mb-[6px] font-bold">
        سماعات
        <span class="pt-2 text-inherit"><i class="sicon-arrow-left"></i></span>
        </h2>
        <p class="desc font-normal text-[13px] md:text-[14px ] xl:text-[16px] leading-normal text-inherit">أحدث الاجهزة بأحسن الاسعار</p>
        </div> </a>
        </div>
        <div class="cat rounded-md relative !max-h-[250px] h-[250px] overflow-hidden xl:overflow-visible">
        <a href="https://s.salla.sa/design/component/edit/155276127">
        <div class="photo w-full h-full">
        <img loading="lazy" class="object-cover rounded-md" width="100%" height="100%" src="https://cdn.salla.sa/form-builder/Ya8Xi6HRGxWEmcPn1IU712dR12txeL0Xmw73KoYV.jpg" alt="أجهزة لابتوب">
        </div>
        <div style="color: #ffffff" class="box-text-cat pt-[24px] rtl:pr-[24px] ltr:pl-[24px] absolute top-0 rtl:right-0 ltr:left-0">
        <h2 class="title flex items-center gap-[9px] text-[15px] md:text-[19px] xl:text-[24px] mb-1 md:mb-[6px] font-bold">
        أجهزة لابتوب
        <span class="pt-2 text-inherit"><i class="sicon-arrow-left"></i></span>
        </h2>
        <p class="desc font-normal text-[13px] md:text-[14px ] xl:text-[16px] leading-normal text-inherit">أحدث الاجهزة بأحسن الاسعار</p>
        </div> </a>
        </div>
        </div>
        <span id="after-155276127" class="s-design-invisible-dom s-design-after"></span></section>