

<section class="s-block s-block--full-bg as-grid bg-white py-2 sm:py-16 ">

    <div class="text-center ">
        <h2 class="text-4xl font-bold mb-10"> {{ component.item }}

        </h2>
    </div>


    <div class="flex  flex-col items-center justify-center space-y-8  px-6 sm:flex-row sm:space-x-6 sm:space-y-0">
       
        {% for code in component.code %}
        <div class="w-full max-w-m overflow-hidden rounded-lg shadow-s m-4 duration-300 hover:scale-105 hover:shadow-s">
            <div class="flex i justify-center mb-3">
                <div class="bg-gradient-to-br from-red-600 to-pink-500 text-white text-center py-10 px-20 rounded-lg shadow-md relative">
                <h3 class="text-2xl font-semibold mb-4">{{code.item_1}}</h3>
                <div  class="content bg-white text-gray-800 rounded-lg px-4 py-2 flex items-center justify-between">
                        <span class=" code text-2xl font-semibold">{{code.item_3}}</span>
                        
                             </div>
                                 
                
            <div class="w-12 h-12 bg-white rounded-full absolute top-1/2 transform -translate-y-1/2 left-0 -ml-6"></div>
            <div class="w-12 h-12 bg-white rounded-full absolute top-1/2 transform -translate-y-1/2 right-0 -mr-6"></div>
            
            </div>
        </div>
        
        </div>


        {% endfor %}

      </div>
      </section>
   
      
<script>
    document.querySelectorAll(".content").forEach((item, index) => {
	item.addEventListener("click", async (event) => {
		if (!navigator.clipboard) {
			// Clipboard API not available
			return;
		}
		try {
			await navigator.clipboard.writeText(event.target.innerText);
			
			var tooltip = document.getElementById("myTooltip");
  tooltip.innerHTML = "Copied"
			
		} catch (err) {
			console.error("Failed to copy!", err);
		}
	});
});

</script>
<style>

    .content::after {
	content: "Copy";
	color: #000;
	background-color: #ffd700;
	cursor: pointer;
	padding: 3px 10px;
	position: absolute;
	right: 0;
	top: 0;
}
</style>