<section class="s-block s-block--full-bg as-grid bg-white py-2 sm:py-16">
    <div class="text-center">
        <h2 class="text-4xl font-bold mb-10">{{ component.item }}</h2>
    </div>
    
    <div class="flex flex-wrap justify-center gap-4">
        {% for code in component.code %}
        <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 bg-white rounded-lg shadow-lg overflow-hidden mb-4 transition-transform duration-300 hover:scale-105 hover:shadow-lg">
            <div class="bg-gradient-to-r from-red-400 to-yellow-300 p-6">
                <p class="text-white text-center mt-2 h-16 flex items-center justify-center">{{ code.item_1 }}</p>
            </div>
            <div class="p-4 flex flex-col h-full">
                <div class="flex justify-between items-center">
                    <span class="text-xl font-bold">استخدم الكود:</span>
                    <div class="flex items-center">
                        <span class="code mr-2 bg-gray-200 text-gray-800 py-1 px-3 rounded-lg">{{ code.item_3 }}</span>
                        <div class="content ml-2 cursor-pointer" id="myTooltip">
                            Copy
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<script>
    document.querySelectorAll(".content").forEach((item) => {
        item.addEventListener("click", async (event) => {
            if (!navigator.clipboard) {
                return;
            }
            try {
                const code = event.target.previousElementSibling.innerText;
                await navigator.clipboard.writeText(code);
                var tooltip = document.getElementById("myTooltip");
                tooltip.innerHTML = "Copied";
                setTimeout(() => { tooltip.innerHTML = "Copy"; }, 2000); // Reset tooltip after 2 seconds
            } catch (err) {
                console.error("Failed to copy!", err);
            }
        });
    });
</script>

<style>
    .content {
        color: #000;
        background-color: #ffd700;
        padding: 3px 10px;
        border-radius: 5px;
        transition: background-color 0.3s;
        margin-left: 8px; /* إضافة مسافة بسيطة بين الزرين */
    }
    .content:hover {
        background-color: #ffc107;
    }
</style>





