<section class="bg-white">

    <div class="text-center ">
        <h2 class="text-4xl font-bold mb-10"> {{ component.item }}

        </h2>
    </div>


    <div class="flex  flex-col items-center justify-center space-y-8  px-6 sm:flex-row sm:space-x-6 sm:space-y-0">
       
        {% for code in component.code %}
        <div class="w-full max-w-m overflow-hidden rounded-lg shadow-s m-4 duration-300 hover:scale-105 hover:shadow-s">
            <div class="flex i justify-center mb-3">
                <div class="bg-gradient-to-br from-red-600 to-pink-500 text-white text-center py-10 px-20 rounded-lg shadow-md relative">
                <h3 class="text-2xl font-semibold mb-4">{{code.item_1}}</h3>
                <div class="bg-white text-gray-800 rounded-lg px-4 py-2 flex items-center justify-between">
                    <span class="text-2xl font-semibold">{{code.item_3}}</span>
                    <button class="bg-blue-800 text-white px-3 py-1 rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">أنسخ الكود</button>
                </div>
                </p>
                
            <div class="w-12 h-12 bg-white rounded-full absolute top-1/2 transform -translate-y-1/2 left-0 -ml-6"></div>
            <div class="w-12 h-12 bg-white rounded-full absolute top-1/2 transform -translate-y-1/2 right-0 -mr-6"></div>
            
            </div>
        </div>
        
        </div>


        {% endfor %}

      </div>
      </section>

    
      <section class="s-block s-block--anime s-block--today-deal wide-placeholder relative flex-center
      " id="today-deal-7" style="color: #ffffff;">
    <div class="container relative overflow-hidden lg:rounded">
    <div class="absolute inset-0 bg-cover bg-bgColor bg-no-repeat" style="background-color: #222222; background-image: url(https://cdn.salla.sa/form-builder/pONC2O5wx7QMi2anpC5w1BejWxDHIytjinDDgh5F.jpg);"></div>
    <div class="absolute inset-0 bg-dark " style="opacity: 0.9;">
    </div>
    <div class="relative flex flex-col-reverse lg:flex-row gap-5 lg:gap-10 py-12 lg:px-8 items-center lg:justify-between">
    <div class="lg:max-w-xl  flex flex-col justify-center relative">
    <h2 class="text-2xl lg:text-[40px] font-bold lg:!leading-14 anime-item" style="opacity: 1; transform: translateY(0px);">
    عروض حصرية على الموبايلات</h2>
    <p class="relative mt-3 md:mt-4 text-lg leading-8 opacity-70 anime-item" style="opacity: 1; transform: translateY(0px);">
    داخل هذا القسم، ستجد عرضًا حصريًا على منتجات الملابس. اجتهد في اغتنام هذه الفرصة قبل أن ينتهي الوقت وتفوتك الصفقات الرائ</p>
    <div class="mt-6 flex items-center gap-x-6 anime-item" style="opacity: 1; transform: translateY(0px);">
    <salla-button class="btn--main group s-button-wrap hydrated" href="https://salla.sa/dev-vnvkwjl46vvrz8qs/redirect/categories/1639426215" shape="btn" color="primary" fill="solid" size="medium" width="normal" type="button"><!----><a href="https://salla.sa/dev-vnvkwjl46vvrz8qs/redirect/categories/1639426215"><button class="btn--main group s-button-element s-button-btn s-button-solid s-button-primary s-button-loader-after" href="https://salla.sa/dev-vnvkwjl46vvrz8qs/redirect/categories/1639426215" type="button" fdprocessedid="bregt"><span class="s-button-text">
    <span class="text">اكتشف المزيد</span>
    <i class="arrow-icon sicon-arrow-up-left"></i>
    </span></button></a></salla-button>
    </div>
    </div>
    <salla-count-down class="flex-1 anime-item s-count-down-wrapper hydrated" style="--bg-shape: url(https://cdn.assets.salla.network/themes/1546328629/1.8.0/images/three-lines-shape.png); opacity: 1; transform: translateY(0px);" date="2025-01-01 01:00" boxed="" labeled=""><ul class="s-count-down-list s-count-down-boxed s-count-down-md s-count-down-dark"><li class="s-count-down-item"><div class="s-count-down-item-value">١</div><div class="s-count-down-item-label">ثانية</div></li><li class="s-count-down-item"><div class="s-count-down-item-value">٢٢</div><div class="s-count-down-item-label">دقيقة</div></li><li class="s-count-down-item"><div class="s-count-down-item-value">٦</div><div class="s-count-down-item-label">ساعة</div></li><li class="s-count-down-item"><div class="s-count-down-item-value">١٧٠</div><div class="s-count-down-item-label">يوم</div></li></ul></salla-count-down>
    </div>
    </div>
    <div class="hidden text-[100px] md:text-[180px] lg:text-[270px]"></div>
    </section>

    <section style="background-color:#faf2f0 !important;" class="yasmeen-countdown bg-[#faf2f0]"><span class="s-design-before s-design-invisible-dom" id="edit-511943192"></span>
        <div class="container mx-auto">
        <div class="xl:px-20 lg:px-6 py-10">
        <div class="grid md:grid-cols-2 grid-cols-1 md:justify-between md:items-center w-full lg:gap-14 gap-6">
        <div class="rounded-[.25rem] overflow-hidden md:order-last">
        <img src="https://cdn.salla.sa/NKQnzK/786ce43a-8769-4779-9583-fd2eab3d9211-500x500-W14PA4sEwBAsk1i1dtm4rUm0pbHiBkQ6IgjihqOU.png" height="500" alt="زهرة الحياة" class="w-full h-full object-cover">
        </div>
        <div class="flex flex-col gap-4 justify-center md:order-first">
        <div style="color:#000000 !important;" class="flex flex-col lg:gap-6 gap-3">
        <h2 class="md:text-[44px] md:text-[34px] text-[28px] font-meduim md:leading-[2.7rem]">عرض لفترة محدودة
        </h2>
        <span class="md:text-[23px] text-[20px] font-semibold">زهرة الحياة</span>
        </div>
        <div class="flex gap-2">
        <span style="color:#bd8b80 !important;" class="md:text-[24px] text-[22px] font-extrabold text-[var(--color-primary)]">٧٩٩ ر.س</span>
        <span class="md:text-[23px] text-[21px] font-extrabold line-through text-black/40">٧٩٩ ر.س</span>
        </div>
        <div>
        <h5 style="color:#000000 !important;" class="md:text-[20px] text-[17px] font-meduim mb-2">متبقي على انتهاء العرض:</h5>
        <salla-count-down style="direction:ltr;" date="2024-09-10" labeled="true" boxed="true" digits="en" size="md" class="s-count-down-wrapper hydrated">
        <ul class="s-count-down-list s-count-down-boxed s-count-down-md s-count-down-dark"><li class="s-count-down-item"><div class="s-count-down-item-value">14</div><div class="s-count-down-item-label">ثانية</div></li><li class="s-count-down-item"><div class="s-count-down-item-value">8</div><div class="s-count-down-item-label">دقيقة</div></li><li class="s-count-down-item"><div class="s-count-down-item-value">5</div><div class="s-count-down-item-label">ساعة</div></li><li class="s-count-down-item"><div class="s-count-down-item-value">58</div><div class="s-count-down-item-label">يوم</div></li></ul></salla-count-down>
        </div>
        <div class="w-full h-14 ltr:lg:pr-40 rtl:lg:pl-40">
        <a style="background-color:#bd8b80 !important;color:#ffffff !important;" class="flex justify-center items-center w-full h-full text-[18px] rounded-[.25rem] font-normal text-[var(--color-primary-reverse)] bg-[var(--color-primary)] hover:bg-[var(--color-primary)]/70 duration-300" href="https://salla.sa/dev-snqrezhejnpkpil9/زهرة-الحياة/p1470032402">اشتري الآن</a>
        </div>
        </div>
        </div>
        </div>
        </div>
        <span id="after-511943192" class="s-design-invisible-dom s-design-after"></span></section>