
<section class="s-block s-block--full-bg as-grid bg-white py-4 sm:py-6 " class="yasmeen-countdown bg-[#faf2f0]">
    <div class="relative px-8 lg:px-10 md:flex justify-between items-center">
      <!-- Text Content Section (الجانب الأيمن) -->
      <div class="lg:w-1/2 pr-6 mt-4 lg:mb-0">
        <h2 class="font-semibold lg:text-1xl text-l lg:leading-9 md:leading-7 leading-9 text-gray-800 mb-6">{{ component.title }}</h2>
        <p class="font-normal text-base leading-6 text-gray-600">
            {{ component.description }}hhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
        </p>
      </div>
  
      <!-- Card Slider Section (الجانب الأيسر) -->
      <section class="w-full lg:w-1/2 pl-6">
        <div class="max-w-lg mx-auto relative">
          <input id="article-01" type="radio" name="slider" class="sr-only peer/01">
          <input id="article-02" type="radio" name="slider" class="sr-only peer/02">
          <input id="article-03" type="radio" name="slider" class="sr-only peer/03" checked>
          <input id="article-04" type="radio" name="slider" class="sr-only peer/04">
          <input id="article-05" type="radio" name="slider" class="sr-only peer/05">
    
          {% for item in component.listPhoto %}
          <div class="absolute inset-0 scale-[67.5%] z-20 transition-all duration-500 ease-[cubic-bezier(0.25,1,0.5,1)] peer-focus-visible/01:[&_article]:ring peer-focus-visible/01:[&_article]:ring-indigo-300 peer-checked/01:relative peer-checked/01:z-50 peer-checked/01:translate-x-0 peer-checked/01:scale-100 peer-checked/02:-translate-x-20 peer-checked/02:scale-[83.75%] peer-checked/02:z-40 peer-checked/03:-translate-x-40 peer-checked/03:z-30 peer-checked/04:-translate-x-40 peer-checked/04:opacity-0 peer-checked/05:-translate-x-40">
            <label class="absolute inset-0" for="article-01"><span class="sr-only">Image 1</span></label>
            <article class="bg-white p-6 rounded-lg shadow-2xl mb-6">
              <img class="rounded-lg shadow mb-3 w-full h-auto" src="{{item.listPhoto.image }}" alt="Image 1" />
            </article>
          </div>
          {% endfor %}

         
    
     
        </div>
      </section>
    </div>
  </section>