<section class="s-block s-block--full-bg as-grid bg-white py-4 sm:py-6 yasmeen-countdown bg-[#faf2f0]">
  <div class="relative px-8 lg:px-10 md:flex justify-between items-center">

    <div class="flex [&:hover>div]:w-16 [&>div:hover]:w-[30rem] pl-4 flex-1">
      {% for item in component.listPhoto %}
        {% if loop.index == 1 %}
          <div class="group relative h-80 w-[30rem] cursor-pointer overflow-hidden rounded-lg transition-all duration-200">
            <img class="h-full object-cover" src="{{ item.photo }}" alt="" />
          </div>
        {% else %}
          <div class="group relative h-80 w-16 cursor-pointer overflow-hidden rounded-lg transition-all duration-200">
            <img class="h-full object-cover" src="{{ item.photo }}" alt="" />
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <div class="flex flex-col mb-6 w-full md:w-1/2 bg-store-color max-w-full h-full left-10">
      <div class="sticky top-0 ">
        <p class="inline-block font-semibold text-primary mb-2">{{ component.title }}</p>
        <p class="sm:text-2xl text-l  text-base-content break-words ml-2">{{ component.desc }}</p>

      </div>

      
    </div>

  
  </div>
</section>


<div class="flex w-full h-full items-center justify-center">
  <div class="flex w-5/6 h-5/6 space-x-2">
    <!-- أول صورة -->
    <div class="slide relative flex-auto bg-cover bg-center transition-all duration-500 ease-in-out hover:flex-grow"
      style="background-image:url('https://images.unsplash.com/photo-1533468432434-200de3b5d528?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=975&q=80')"></div>
    
    <!-- ثاني صورة -->
    <div class="slide relative flex-auto bg-cover bg-center transition-all duration-500 ease-in-out hover:flex-grow"
      style="background-image:url('https://images.unsplash.com/photo-1586254574632-55e4aaea7793?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80')"></div>
    
    <!-- ثالث صورة -->
    <div class="slide relative flex-auto bg-cover bg-center transition-all duration-500 ease-in-out hover:flex-grow"
      style="background-image:url('https://images.unsplash.com/photo-1536536982624-06c1776e0ca8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80')"></div>
    
    <!-- رابع صورة -->
    <div class="slide relative flex-auto bg-cover bg-center transition-all duration-500 ease-in-out hover:flex-grow"
      style="background-image:url('https://images.unsplash.com/photo-1502827186494-9f7976a04548?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=976&q=80')"></div>
    
    <!-- خامس صورة -->
    <div class="slide relative flex-auto bg-cover bg-center transition-all duration-500 ease-in-out hover:flex-grow"
      style="background-image:url('https://images.unsplash.com/photo-1545559054-8f4f9e855781?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80')"></div>
  </div>
</div>

