{#
| Variable        | Type       | Description                                                      |
|-----------------|------------|------------------------------------------------------------------|
| display_all_url | ?string    | If it's existed, mean should show load more link to this url     |
| title           | string     |                                                                  |
| products        | Products[] |                                                                  |
| position        | Int        | Sorting number start from zero                                   |
| limit           | Int        | Number of products to be shown
#}
{% set is_vertical = theme.settings.get('vertical_fixed_products', true) %}
<section class="s-block container ">
    {% if title %}
      <div class="s-block__title">
        <div class="text-center p-10">
          <h1 class="font-bold text-4xl mb-4">{{ title }}</h1>

          <h2 class="text-center text-store-text-primary text-2xl  l mb-4 lg:text-3xl font-bold leading-tight ">{{ title }}kkkkkkkkkkk</h2>
          {# <p>عنوان فرعي توصيفي صغير</p> #}
        </div>
        {% if display_all_url %}
            <a href="{{ display_all_url }}" class="s-block__display-all">{{ trans('blocks.home.display_all') }} <i class="sicon-arrow-left"></i></a>
        {% endif %}
      </div>
    {% endif %}

    
</section>


