{#
| Variable          | Type   | Description                                                      |
|-------------------|--------|------------------------------------------------------------------|
| item             | string  | Section title                                                    |
| item_1           | string  | Desecription                                                |
  collection.img    |img      |img                    |
#}
 
     
   
          <section class="bg-zinc-50">
            <div class="max-w-screen-xl 2xl:max-w-screen-3xl px-8 md:px-12 mx-auto py-12 lg:py-24 space-y-24 h-svh flex flex-col justify-center">
             <div class="px-6 py-0 md:py-14 md:rtl:pl-0 md:ltr:pr-0 flex-1">
               <div class="items-center flex flex-col  justify-center" >
               <h2 class=" text-2xl max-w-s md:max-w-2xl  md:text-start md:text-4xl font-bold md:!leading-12">
                {{ component.item }}

               </h2>

               <p class=" max-w-xl md:max-w-3/4 mt-4 relative md:text-start text-sm leading-8 sm:max-w-md">
                
                {{ component.item_1 }}

                 </p>
                <div class="mt-4 md:mt-4 flex md:justify-start items-center gap-x-6">
                 <button type="button" class="text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800">
                 <span class="text">تسوق الآن</span>



               <i class="arrow-icon sicon-arrow-up-left"></i>
               </button>
               </div>
               </div> 
          </div>
             <div class="flex flex-col sm:flex-row mx-auto">
           
             </div> 
             
            </div>
              </section>
         
     

              