



<div class="flex flex-col mt-20">
    <p class="font-semibold text-2xl md:text-3xl text-center text-gray-800">{{ component.title }}</p>

    <!-- جعل العناصر داخل صف أفقي -->
    <div class="flex flex-wrap justify-center gap-4 mt-4">
        {% for item in component.item %}

        <a href="#"
            class="flex h-20 w-40 flex-col items-center justify-center rounded-md border border-dashed border-gray-200 transition-colors duration-100 ease-in-out hover:border-gray-400/80">
            <div class="flex flex-row items-center justify-center">
                <i class="{{ item.icon_picker }} text-xl font-bold text-primary mt-4 ml-2"></i> 

                <span class="mt-2 text-sm text-gray-400">{{ item.title2 }}</span>

            </div>
         
            <div class="mt-2 text-sm text-gray-400">
                <span class="font-bold text-xl text-primary mt-2">+</span>{{ item.item2 }}



            </div>
        </a>

        {% endfor %}
    </div>
</div>



  