<section class="flex flex-col mt-20">
    <p class="font-semibold text-2xl md:text-3xl text-center text-gray-800">{{ component.title }}</p>
    <div class="mt-10 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-4 gap-y-5 lg:gap-y-0 gap-x-5 place-items-center w-full mx-auto max-w-7xl px-5">
        {% for item in component.item %}
        <div class="flex flex-col justify-between items-center bg-gradient-to-b from-[#FFF6F3] to-[#FFE8E0] px-4 py-4 min-h-[160px] w-full sm:w-[180px] md:w-[220px] lg:w-[250px] rounded-lg shadow-md transition-transform duration-300 hover:scale-105 hover:shadow-xl">
            <div class="flex flex-col justify-center items-center mb-4"> 
                <i class="{{ item.icon_picker }} text-3xl font-bold text-primary mb-2"></i> 
            </div>
            <p class="font-medium text-1xl sm:text-lg leading-6 text-center text-gray-700">{{ item.title2 }}</p>

            <div class="font-bold text-2xl text-primary mt-2"><span class="font-bold text-2xl text-primary mt-2">+</span>{{ item.item2 }}</div>
        </div>
        {% endfor %}
    </div>
</section>


