{#
| Variable      | Type   | Description                                                      |
|---------------|--------|------------------------------------------------------------------|
| items[]       | array  | List of 3 features                                               |
| items[].icon  | string | SallaIcons css class `sicon-*`                                   |
| items[].title | string | Title of the feature                                             |
| items[].text  | string | Subtitle for the feature                                         |
| position      | Int    | Sorting number start from zero                                   |
#}





  <section class="my-6 md:my-12">
    <div class="container">
        <div class="grid lg:grid-cols-3 gap-4 sm:gap-6 xl:gap-8 ">
          {% for item in items %}

                            <div class="flex gap-3 bg-gray-100 p-6 rounded-2xl wow animate__fadeIn hover:shadow-xl transition-all duration-500 cursor-pointer" 
            >
                            <i class="{{ item.icon }} text-5xl mt-2"
                            
                            ></i>
                            <div>
                        <h2 class="text-base font-bold">{{ item.title }}</h2>
                        <h4 class="text-sm text-gray-400">{{ item.text }} </h4>
                    </div>
                </div>
                    
                {% endfor %}

             
        </div>
    </div>
</section>






      
<div class="py-12 flex flex-col justify-center items-center space-y-10">
  <div class="flex flex-col justify-center items-center space-y-2">
      <h1 class="text-sm md:text-base font-semibold leading-none dark:text-gray-200 text-gray-600">AS SEEN IN</h1>
      <div class="w-9 h-0.5 bg-gray-300"></div>
  </div>
  <div class="flex justify-center items-center space-x-4 md:space-x-6 lg:space-x-16">
      <div class="w-11 h-3 md:w-16 md:h-5 lg:w-28 lg:h-8">
          <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partner_9_svg1.svg" alt="logo 1">
          <img class="hidden dark:block" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partner_9_svg1-dark.svg" alt="logo 1">
      </div>
      <div class="w-16 h-3 lg:w-44 lg:h-8">
          <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partner_9_svg2.svg" alt="logo 2">
          <img class="hidden dark:block" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partner_9_svg2-dark.svg" alt="logo 2">
      </div>
      <div class="w-16 h-2.5 md:w-16 md:h-2.5 lg:w-44 lg:h-6">
          <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partner_9_svg3.svg" alt="logo 3">
          <img class="hidden dark:block" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partner_9_svg3-dark.svg" alt="logo 3">
      </div>
      <div class="w-11 h-3 md:w-16 md:h-5 lg:w-28 lg:h-8">
          <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partner_9_svg4.svg" alt="logo 4">
          <img class="hidden dark:block" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partner_9_svg4-dark.svg" alt="logo 4">
      </div>
      <div class="w-8 h-3 md:w-16 md:h-7 lg:w-20 lg:h-8">
          <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partner_9_svg5.svg" alt="logo 5">
          <img class="hidden dark:block" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/partner_9_svg5-dark.svg" alt="logo 5">
      </div>
  </div>
</div>



<div class="flex justify-center items-center">
  <div class="2xl:mx-auto 2xl:container py-12 px-4 sm:px-6 xl:px-20 2xl:px-0 w-full">
      <div class="flex flex-col justify-center items-center space-y-10">
          <div class="flex flex-col justify-center items-center">
              <h1 class="text-3xl xl:text-4xl font-semibold leading-7 xl:leading-9 text-gray-800 dark:text-white">Shop By Category</h1>
          </div>
          <div class="flex flex-wrap justify-center gap-8 w-full"> <!-- استخدام flex-wrap للتوزيع الأفقي -->
              
              <!-- قسم الشوز -->
              <div class="relative group flex justify-center items-center w-40 h-40">
                  <img class="object-center object-cover w-full h-full" src="https://i.ibb.co/ThPFmzv/omid-armin-m-VSb6-PFk-VXw-unsplash-1-1.png" alt="shoe-image" />
                  <button class="dark:bg-gray-800 dark:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 bottom-4 z-10 absolute text-base font-medium leading-none text-gray-800 py-2 w-32 bg-white">Shoes</button>
                  <div class="absolute opacity-0 group-hover:opacity-100 transition duration-500 bottom-3 py-6 z-0 px-20 w-32 bg-white bg-opacity-50"></div>
              </div>

              <!-- قسم الساعات -->
              <div class="relative group flex justify-center items-center w-40 h-40">
                  <img class="object-center object-cover w-full h-full" src="https://i.ibb.co/Hd1pVxW/louis-mornaud-Ju-6-TPKXd-Bs-unsplash-1-2.png" alt="watch-image" />
                  <button class="dark:bg-gray-800 dark:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 bottom-4 z-10 absolute text-base font-medium leading-none text-gray-800 py-2 w-32 bg-white">Watches</button>
                  <div class="absolute opacity-0 group-hover:opacity-100 transition duration-500 bottom-3 py-6 z-0 px-20 w-32 bg-white bg-opacity-50"></div>
              </div>

              <!-- إضافات أخرى بنفس الشكل -->
              <div class="relative group flex justify-center items-center w-40 h-40">
                  <img class="object-center object-cover w-full h-full" src="https://i.ibb.co/Hd1pVxW/louis-mornaud-Ju-6-TPKXd-Bs-unsplash-1-2.png" alt="watch-image" />
                  <button class="dark:bg-gray-800 dark:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 bottom-4 z-10 absolute text-base font-medium leading-none text-gray-800 py-2 w-32 bg-white">Watches</button>
                  <div class="absolute opacity-0 group-hover:opacity-100 transition duration-500 bottom-3 py-6 z-0 px-20 w-32 bg-white bg-opacity-50"></div>
              </div>

              <div class="relative group flex justify-center items-center w-40 h-40">
                  <img class="object-center object-cover w-full h-full" src="https://i.ibb.co/Hd1pVxW/louis-mornaud-Ju-6-TPKXd-Bs-unsplash-1-2.png" alt="watch-image" />
                  <button class="dark:bg-gray-800 dark:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 bottom-4 z-10 absolute text-base font-medium leading-none text-gray-800 py-2 w-32 bg-white">Watches</button>
                  <div class="absolute opacity-0 group-hover:opacity-100 transition duration-500 bottom-3 py-6 z-0 px-20 w-32 bg-white bg-opacity-50"></div>
              </div>

          </div>
      </div>
  </div>
</div>

      <div class="2xl:container 2xl:mx-auto md:py-12 lg:px-20 md:px-6 py-9 px-4">
          <div class="text-center">
              <h2 class="font-semibold lg:text-4xl text-3xl lg:leading-9 md:leading-7 leading-9 text-gray-800 md:w-full w-9/12 mx-auto">Follow Us on Instagram</h2>
              <p class="font-normal text-base leading-6 text-gray-600 mt-4 lg:w-5/12 md:w-9/12 mx-auto">Follow us on instagram @<span class="underline cursor-pointer">followuspleaseee</span> and tag us to get featured on our timeline</p>
          </div>
          <div class="flex gap-4 mt-10 justify-center flex-wrap">
              <!-- العنصر الأول في المعرض -->
              <div class="relative group w-32 h-32">
                  <img src="https://i.ibb.co/QHS8Ngp/pexels-alana-sousa-3294250-1.png" alt="A picture of a sitting dog" class="w-full h-full object-cover rounded-lg" />
                  <div class="flex justify-center items-center opacity-0 bg-gradient-to-t from-gray-800 via-gray-800 to-opacity-30 group-hover:opacity-50 absolute top-0 left-0 h-full w-full"></div>
                  <div class="absolute top-0 left-0 w-full h-full flex justify-center items-center opacity-0 hover:opacity-100">
                      <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M42.6665 10.6665H21.3332C15.4421 10.6665 10.6665 15.4421 10.6665 21.3332V42.6665C10.6665 48.5575 15.4421 53.3332 21.3332 53.3332H42.6665C48.5575 53.3332 53.3332 48.5575 53.3332 42.6665V21.3332C53.3332 15.4421 48.5575 10.6665 42.6665 10.6665Z" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M32 40C36.4183 40 40 36.4183 40 32C40 27.5817 36.4183 24 32 24C27.5817 24 24 27.5817 24 32C24 36.4183 27.5817 40 32 40Z" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M44 20V20.001" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                  </div>
              </div>

              <!-- العنصر الثاني في المعرض -->
              <div class="relative group w-32 h-32">
                  <img src="https://i.ibb.co/T8jgRy3/pexels-leah-kelley-1449667-1.png" alt="Smiling Girl" class="w-full h-full object-cover rounded-lg" />
                  <div class="opacity-0 bg-gradient-to-t from-gray-800 via-gray-800 to-opacity-30 group-hover:opacity-50 absolute top-0 left-0 h-full w-full"></div>
                  <div class="absolute top-0 left-0 w-full h-full flex justify-center items-center opacity-0 hover:opacity-100">
                      <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M42.6665 10.6665H21.3332C15.4421 10.6665 10.6665 15.4421 10.6665 21.3332V42.6665C10.6665 48.5575 15.4421 53.3332 21.3332 53.3332H42.6665C48.5575 53.3332 53.3332 48.5575 53.3332 42.6665V21.3332C53.3332 15.4421 48.5575 10.6665 42.6665 10.6665Z" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M32 40C36.4183 40 40 36.4183 40 32C40 27.5817 36.4183 24 32 24C27.5817 24 24 27.5817 24 32C24 36.4183 27.5817 40 32 40Z" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M44 20V20.001" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                  </div>
              </div>

              <!-- العنصر الثالث في المعرض -->
              <div class="relative group w-32 h-32">
                  <img src="https://i.ibb.co/F3dzNWD/pexels-spencer-selover-775358-1.png" alt="Men Posing" class="w-full h-full object-cover rounded-lg" />
                  <div class="opacity-0 bg-gradient-to-t from-gray-800 via-gray-800 to-opacity-30 group-hover:opacity-50 absolute top-0 left-0 h-full w-full"></div>
                  <div class="absolute top-0 left-0 w-full h-full flex justify-center items-center opacity-0 hover:opacity-100">
                      <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M42.6665 10.6665H21.3332C15.4421 10.6665 10.6665 15.4421 10.6665 21.3332V42.6665C10.6665 48.5575 15.4421 53.3332 21.3332 53.3332H42.6665C48.5575 53.3332 53.3332 48.5575 53.3332 42.6665V21.3332C53.3332 15.4421 48.5575 10.6665 42.6665 10.6665Z" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M32 40C36.4183 40 40 36.4183 40 32C40 27.5817 36.4183 24 32 24C27.5817 24 24 27.5817 24 32C24 36.4183 27.5817 40 32 40Z" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M44 20V20.001" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                  </div>
              </div>

              <!-- العنصر الرابع في المعرض -->
              <div class="relative group w-32 h-32">
                  <img src="https://i.ibb.co/DwcwgDP/pexels-chevanon-photography-1108099-1.png" alt="2 puppies" class="w-full h-full object-cover rounded-lg" />
                  <div class="opacity-0 bg-gradient-to-t from-gray-800 via-gray-800 to-opacity-30 group-hover:opacity-50 absolute top-0 left-0 h-full w-full"></div>
                  <div class="absolute top-0 left-0 w-full h-full flex justify-center items-center opacity-0 hover:opacity-100">
                      <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M42.6665 10.6665H21.3332C15.4421 10.6665 10.6665 15.4421 10.6665 21.3332V42.6665C10.6665 48.5575 15.4421 53.3332 21.3332 53.3332H42.6665C48.5575 53.3332 53.3332 48.5575 53.3332 42.6665V21.3332C53.3332 15.4421 48.5575 10.6665 42.6665 10.6665Z" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M32 40C36.4183 40 40 36.4183 40 32C40 27.5817 36.4183 24 32 24C27.5817 24 24 27.5817 24 32C24 36.4183 27.5817 40 32 40Z" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M44 20V20.001" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                  </div>
              </div>
          </div>
      </div>


      <div class="2xl:container 2xl:mx-auto md:py-12 lg:px-20 md:px-6 py-9 px-4">
        <div class="text-center">
          <h2 class="font-semibold lg:text-4xl text-3xl lg:leading-9 md:leading-7 leading-9 text-gray-800 md:w-full w-9/12 mx-auto">Follow Us on Instagram</h2>
          <p class="font-normal text-base leading-6 text-gray-600 mt-4 lg:w-5/12 md:w-9/12 mx-auto">Follow us on instagram @<span class="underline cursor-pointer">followuspleaseee</span> and tag us to get featured on our timeline</p>
        </div>
        
        <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-4 mt-10">
          <!-- العنصر الأول في المعرض -->
          <div class="relative group">
            <img src="https://i.ibb.co/QHS8Ngp/pexels-alana-sousa-3294250-1.png" alt="A picture of a sitting dog" class="w-full h-full object-cover rounded-lg" />
            <div class="flex justify-center items-center opacity-0 bg-gradient-to-t from-gray-800 via-gray-800 to-opacity-30 group-hover:opacity-50 absolute top-0 left-0 h-full w-full"></div>
            <div class="absolute top-0 left-0 w-full h-full flex justify-center items-center opacity-0 hover:opacity-100">
              <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M42.6665 10.6665H21.3332C15.4421 10.6665 10.6665 15.4421 10.6665 21.3332V42.6665C10.6665 48.5575 15.4421 53.3332 21.3332 53.3332H42.6665C48.5575 53.3332 53.3332 48.5575 53.3332 42.6665V21.3332C53.3332 15.4421 48.5575 10.6665 42.6665 10.6665Z" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M32 40C36.4183 40 40 36.4183 40 32C40 27.5817 36.4183 24 32 24C27.5817 24 24 27.5817 24 32C24 36.4183 27.5817 40 32 40Z" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M44 20V20.001" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </div>
      
          <!-- العنصر الثاني في المعرض -->
          <div class="relative group">
            <img src="https://i.ibb.co/T8jgRy3/pexels-leah-kelley-1449667-1.png" alt="Smiling Girl" class="w-full h-full object-cover rounded-lg" />
            <div class="opacity-0 bg-gradient-to-t from-gray-800 via-gray-800 to-opacity-30 group-hover:opacity-50 absolute top-0 left-0 h-full w-full"></div>
            <div class="absolute top-0 left-0 w-full h-full flex justify-center items-center opacity-0 hover:opacity-100">
              <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M42.6665 10.6665H21.3332C15.4421 10.6665 10.6665 15.4421 10.6665 21.3332V42.6665C10.6665 48.5575 15.4421 53.3332 21.3332 53.3332H42.6665C48.5575 53.3332 53.3332 48.5575 53.3332 42.6665V21.3332C53.3332 15.4421 48.5575 10.6665 42.6665 10.6665Z" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M32 40C36.4183 40 40 36.4183 40 32C40 27.5817 36.4183 24 32 24C27.5817 24 24 27.5817 24 32C24 36.4183 27.5817 40 32 40Z" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M44 20V20.001" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </div>
      
          <!-- العنصر الثالث في المعرض -->
          <div class="relative group">
            <img src="https://i.ibb.co/F3dzNWD/pexels-spencer-selover-775358-1.png" alt="Men Posing" class="w-full h-full object-cover rounded-lg" />
            <div class="opacity-0 bg-gradient-to-t from-gray-800 via-gray-800 to-opacity-30 group-hover:opacity-50 absolute top-0 left-0 h-full w-full"></div>
            <div class="absolute top-0 left-0 w-full h-full flex justify-center items-center opacity-0 hover:opacity-100">
              <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M42.6665 10.6665H21.3332C15.4421 10.6665 10.6665 15.4421 10.6665 21.3332V42.6665C10.6665 48.5575 15.4421 53.3332 21.3332 53.3332H42.6665C48.5575 53.3332 53.3332 48.5575 53.3332 42.6665V21.3332C53.3332 15.4421 48.5575 10.6665 42.6665 10.6665Z" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M32 40C36.4183 40 40 36.4183 40 32C40 27.5817 36.4183 24 32 24C27.5817 24 24 27.5817 24 32C24 36.4183 27.5817 40 32 40Z" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M44 20V20.001" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </div>
      
          <!-- العنصر الرابع في المعرض -->
          <div class="relative group">
            <img src="https://i.ibb.co/DwcwgDP/pexels-chevanon-photography-1108099-1.png" alt="2 puppies" class="w-full h-full object-cover rounded-lg" />
            <div class="opacity-0 bg-gradient-to-t from-gray-800 via-gray-800 to-opacity-30 group-hover:opacity-50 absolute top-0 left-0 h-full w-full"></div>
            <div class="absolute top-0 left-0 w-full h-full flex justify-center items-center opacity-0 hover:opacity-100">
             
            </div>
          </div>
        </div>
      </div>
      






   

      <section class="s-block--special-products-slider2 relative overflow-hidden">
        <div class="min-h-[600px] w-full flex justify-between items-center pt-8 relative z-10">
            <!-- النص في الجهة اليسرى -->
            <div class="lg:w-1/2 flex flex-col  items-start text-left ">
                <h2 class="font-semibold lg:text-4xl text-3xl lg:leading-9 md:leading-7 leading-9 text-gray-800 md:w-full w-9/12 mx-auto">
                    Follow Us on Instagram
                </h2>
                <p class="font-normal text-base leading-6 text-gray-600 mt-4 lg:w-5/12 md:w-9/12 mx-auto">
                    Follow us on instagram @<span class="underline cursor-pointer">followuspleaseee</span> and tag us to get featured on our timeline
                </p>
            </div>
    
            <!-- السلايدر في الجهة اليمنى تم تغييره إلى شبكة (Grid) بدون سلايد -->
            <div class="lg:w-1/2 flex-shrink-0 relative">
                <div class="grid grid-cols-2 gap-8 lg:grid-cols-3 w-full pb-8">
                    <!-- قسم الشوز -->
                    <div class="relative group flex justify-center items-center w-full h-40">
                        <img class="object-center object-cover w-full h-full" src="https://i.ibb.co/ThPFmzv/omid-armin-m-VSb6-PFk-VXw-unsplash-1-1.png" alt="shoe-image" />
                        <button class="dark:bg-gray-800 dark:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 bottom-4 z-10 absolute text-base font-medium leading-none text-gray-800 py-2 w-32 bg-white">Shoes</button>
                        <div class="absolute opacity-0 group-hover:opacity-100 transition duration-500 bottom-3 py-6 z-0 px-20 w-32 bg-white bg-opacity-50"></div>
                    </div>
    
                    <!-- قسم الساعات -->
                    <div class="relative group flex justify-center items-center w-full h-40">
                        <img class="object-center object-cover w-full h-full" src="https://i.ibb.co/Hd1pVxW/louis-mornaud-Ju-6-TPKXd-Bs-unsplash-1-2.png" alt="watch-image" />
                        <button class="dark:bg-gray-800 dark:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 bottom-4 z-10 absolute text-base font-medium leading-none text-gray-800 py-2 w-32 bg-white">Watches</button>
                        <div class="absolute opacity-0 group-hover:opacity-100 transition duration-500 bottom-3 py-6 z-0 px-20 w-32 bg-white bg-opacity-50"></div>
                    </div>
    
                    <!-- قسم إضافات أخرى -->
                    <div class="relative group flex justify-center items-center w-full h-40">
                        <img class="object-center object-cover w-full h-full" src="https://i.ibb.co/Hd1pVxW/louis-mornaud-Ju-6-TPKXd-Bs-unsplash-1-2.png" alt="watch-image" />
                        <button class="dark:bg-gray-800 dark:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 bottom-4 z-10 absolute text-base font-medium leading-none text-gray-800 py-2 w-32 bg-white">Watches</button>
                        <div class="absolute opacity-0 group-hover:opacity-100 transition duration-500 bottom-3 py-6 z-0 px-20 w-32 bg-white bg-opacity-50"></div>
                    </div>
    
                    <!-- قسم إضافي آخر -->
                    <div class="relative group flex justify-center items-center w-full h-40">
                        <img class="object-center object-cover w-full h-full" src="https://i.ibb.co/Hd1pVxW/louis-mornaud-Ju-6-TPKXd-Bs-unsplash-1-2.png" alt="watch-image" />
                        <button class="dark:bg-gray-800 dark:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 bottom-4 z-10 absolute text-base font-medium leading-none text-gray-800 py-2 w-32 bg-white">Watches</button>
                        <div class="absolute opacity-0 group-hover:opacity-100 transition duration-500 bottom-3 py-6 z-0 px-20 w-32 bg-white bg-opacity-50"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    <div class="v-block__m ">
      <div class="v-block__wrapper">
          <h2 class="v-block__title">خصومات هائلة تصل إلى 80٪</h2>
          <h1 class="v-block__main_title">تصنيفاتنا الرئيسية</h1>
          <h2 class="v-block__subtitle">استكشف مجموعة متنوعة من الفئات والمنتجات الرائعة</h2>
      </div>
      <div class="marquee h-[200px] md:h-[300px]">
          <ul class="marquee__content" style="animation-direction: normal;">
                          <li>
                            <a href="https://salla.sa/dev-jejh5blkrkcrcr5t/redirect/categories/949078253">
                             
                              <div class="relative group flex justify-center items-center w-40 h-40">
                                <img class="object-center object-cover w-full h-full" src="https://i.ibb.co/ThPFmzv/omid-armin-m-VSb6-PFk-VXw-unsplash-1-1.png" alt="shoe-image" />
                                <button class="dark:bg-gray-800 dark:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 bottom-4 z-10 absolute text-base font-medium leading-none text-gray-800 py-2 w-32 bg-white">Shoes</button>
                                <div class="absolute opacity-0 group-hover:opacity-100 transition duration-500 bottom-3 py-6 z-0 px-20 w-32 bg-white bg-opacity-50"></div>
                            </div>
              
                            
                            
                            </a>
                            
                            
                            </li>
                            <li>
                              <a href="https://salla.sa/dev-jejh5blkrkcrcr5t/redirect/categories/949078253">
                               
                                <div class="relative group flex justify-center items-center w-40 h-40">
                                  <img class="object-center object-cover w-full h-full" src="https://i.ibb.co/ThPFmzv/omid-armin-m-VSb6-PFk-VXw-unsplash-1-1.png" alt="shoe-image" />
                                  <button class="dark:bg-gray-800 dark:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 bottom-4 z-10 absolute text-base font-medium leading-none text-gray-800 py-2 w-32 bg-white">Shoes</button>
                                  <div class="absolute opacity-0 group-hover:opacity-100 transition duration-500 bottom-3 py-6 z-0 px-20 w-32 bg-white bg-opacity-50"></div>
                              </div>
                
                              
                              
                              </a>
                              
                              
                              </li>

                              <li>
                                <a href="https://salla.sa/dev-jejh5blkrkcrcr5t/redirect/categories/949078253">
                                 
                                  <div class="relative group flex justify-center items-center w-40 h-40">
                                    <img class="object-center object-cover w-full h-full" src="https://i.ibb.co/ThPFmzv/omid-armin-m-VSb6-PFk-VXw-unsplash-1-1.png" alt="shoe-image" />
                                    <button class="dark:bg-gray-800 dark:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 bottom-4 z-10 absolute text-base font-medium leading-none text-gray-800 py-2 w-32 bg-white">Shoes</button>
                                    <div class="absolute opacity-0 group-hover:opacity-100 transition duration-500 bottom-3 py-6 z-0 px-20 w-32 bg-white bg-opacity-50"></div>
                                </div>
                  
                                
                                
                                </a>
                                
                                
                                </li>
                                <li>
                                  <a href="https://salla.sa/dev-jejh5blkrkcrcr5t/redirect/categories/949078253">
                                   
                                    <div class="relative group flex justify-center items-center w-40 h-40">
                                      <img class="object-center object-cover w-full h-full" src="https://i.ibb.co/ThPFmzv/omid-armin-m-VSb6-PFk-VXw-unsplash-1-1.png" alt="shoe-image" />
                                      <button class="dark:bg-gray-800 dark:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 bottom-4 z-10 absolute text-base font-medium leading-none text-gray-800 py-2 w-32 bg-white">Shoes</button>
                                      <div class="absolute opacity-0 group-hover:opacity-100 transition duration-500 bottom-3 py-6 z-0 px-20 w-32 bg-white bg-opacity-50"></div>
                                  </div>
                    
                                  
                                  
                                  </a>
                                  
                                  
                                  </li>
                            
                        
                         
                        </ul>
     
      </div>
    </div>