{#
| Variable      | Type   | Description                                                      |
|---------------|--------|------------------------------------------------------------------|
| items[]       | array  | List of 3 features                                               |
| items[].icon  | string | SallaIcons css class `sicon-*`                                   |
| items[].title | string | Title of the feature                                             |
| items[].text  | string | Subtitle for the feature                                         |
| position      | Int    | Sorting number start from zero                                   |
#}
<section  class="px-2 md:px-0 py-4">
  <div class="flex flex-col lg:flex-row rounded-2xl gap-16 md:gap-8 lg:py-16 lg:px-12 px-6 py-14 lg:justify-between">
    {% for item in items %}

  <div class="feature_item flex items-center gap-3 sal-animate" data-sal="slide-up" data-sal-delay="100" data-sal-easing="ease-out-bounce">
  <div class="image">
  <i class="{{ item.icon }} text-title-size text-primary"></i>
  </div>
  <div class="content flex flex-col gap-2 ">
  <span class="text-gray-900 dark:text-white font-bold text-xl ">{{ item.title }}</span>
  <span class="text-base font-medium text-gray-700 dark:text-gray-200">{{ item.text }}</span>
  </div>
  </div>
  {% endfor %}

  </div>

</section>