{#
| Variable      | Type   | Description                                                      |
|---------------|--------|------------------------------------------------------------------|
| items[]       | array  | List of 3 features                                               |
| items[].icon  | string | SallaIcons css class `sicon-*`                                   |
| items[].title | string | Title of the feature                                             |
| items[].text  | string | Subtitle for the feature                                         |
| position      | Int    | Sorting number start from zero                                   |
#}





  <section class="my-6 md:my-12">
    <div class="container">
        <div class="grid lg:grid-cols-3 gap-4 sm:gap-6 xl:gap-8 ">
          {% for item in items %}

                            <div class="flex gap-3 bg-gray-100 p-6 rounded-2xl wow animate__fadeIn hover:shadow-xl transition-all duration-500 cursor-pointer" 
            >
                            <i class="{{ item.icon }} text-5xl mt-2"
                            
                            ></i>
                            <div>
                        <h2 class="text-base font-bold">{{ item.title }}</h2>
                        <h4 class="text-sm text-gray-400">{{ item.text }} </h4>
                    </div>
                </div>
                    
                {% endfor %}

             
        </div>
    </div>
</section>










   