{#
| Variable      | Type   | Description                                                      |
|---------------|--------|------------------------------------------------------------------|
| items[]       | array  | List of 3 features                                               |
| items[].icon  | string | SallaIcons css class `sicon-*`                                   |
| items[].title | string | Title of the feature                                             |
| items[].text  | string | Subtitle for the feature                                         |
| position      | Int    | Sorting number start from zero                                   |
#}





  <section class="my-6 md:my-12">
    <div class="container">
        <div class="grid lg:grid-cols-3 gap-4 sm:gap-6 xl:gap-8 ">
          {% for item in items %}

                            <div class="flex gap-3 bg-gray-100 p-6 rounded-2xl wow animate__fadeIn hover:shadow-xl transition-all duration-500 cursor-pointer" 
            >
                            <i class="{{ item.icon }} text-5xl mt-2"
                            
                            ></i>
                            <div>
                        <h2 class="text-base font-bold">{{ item.title }}</h2>
                        <h4 class="text-sm text-gray-400">{{ item.text }}</h4>
                    </div>
                </div>
                    
                {% endfor %}

             
        </div>
    </div>
</section>



<div class="px-4 py-12">
  <div class="lg:max-w-[1440px] md:max-w-[744px] max-w-full mx-auto bg-white lg:px-10 md:px-6 px-4 py-12">
    <div class="lg:flex justify-between gap-8 items-center">
      <div class="lg:w-1/2">
        <img
          src="https://tuk-cdn.s3.amazonaws.com/can-uploader/headfons.png"
          alt="headfons"
          class="w-full object-fill h-full hidden lg:block"
        />
        <img
          src="https://tuk-cdn.s3.amazonaws.com/can-uploader/headfons_bg.png"
          alt="headfons_bg"
          class="w-full object-fill h-full block lg:hidden"
        />
      </div>
      <div class="lg:w-1/2 mt-4 lg:mt-0">
        <p class="lg:text-5xl md:text-4xl text-3xl font-semibold text-gray-800">
          New Home For Your Gadgets
        </p>
        <div class="swiper-slide slide--one-sixth vertical swiper-slide-active duration-200 hover:-translate-y-3 flex lg:gap-8 gap-5 mt-10">
          <img
            src="https://tuk-cdn.s3.amazonaws.com/can-uploader/earbuds.png"
            alt="earbuds"
            class="md:block hidden"
          />
          <img
            src="https://tuk-cdn.s3.amazonaws.com/can-uploader/earbuds_sm.png"
            alt="earbuds_sm"
            class="lg:hidden md:hidden block"
          />
          <img
            src="https://tuk-cdn.s3.amazonaws.com/can-uploader/mouse.png"
            alt="mouse"
            class="md:block hidden"
          />
          <img
            src="https://tuk-cdn.s3.amazonaws.com/can-uploader/mouse_sm.png"
            alt="mouse_sm"
            class="lg:hidden md:hidden block"
          />
          <img
            src="https://tuk-cdn.s3.amazonaws.com/can-uploader/hedphone.png"
            alt="hedphone"
            class="md:block hidden"
          />
          <img
            src="https://tuk-cdn.s3.amazonaws.com/can-uploader/hedphones_sm.png"
            alt="hedphones"
            class="lg:hidden md:hidden block"
          />
          <img
            src="https://tuk-cdn.s3.amazonaws.com/can-uploader/watch.png"
            alt="watch"
            class="md:block hidden"
          />
          <img
            src="https://tuk-cdn.s3.amazonaws.com/can-uploader/watch_sm.png"
            alt="watch_sm"
            class="lg:hidden md:hidden block"
          />
          <img
            src="https://tuk-cdn.s3.amazonaws.com/can-uploader/iphone.png"
            alt="iphone"
            class="md:block hidden"
          />
          <img
            src="https://tuk-cdn.s3.amazonaws.com/can-uploader/iphone_sm.png"
            alt="iphone_sm"
            class="lg:hidden md:hidden block"
          />
        </div>
        <button
          class="bg-gray-800 text-base font-medium lg:max-w-[199px] w-full px-3 py-2 text-white mt-11 hover:bg-gray-700 transition duration-300 ease-in-out"
        >
          50% off
        </button>
      </div>
    </div>
  </div>
</div>
