{#
| Variable      | Type   | Description                                                      |
|---------------|--------|------------------------------------------------------------------|
| items[]       | array  | List of 3 features                                               |
| items[].icon  | string | SallaIcons css class `sicon-*`                                   |
| items[].title | string | Title of the feature                                             |
| items[].text  | string | Subtitle for the feature                                         |
| position      | Int    | Sorting number start from zero                                   |
#}



  <div class="container mx-auto">
    <div class="grid lg:grid-cols-3 gap-4 sm:gap-6 xl:gap-8 text-center">
        {% for item in items %}

            <div class="bg-gray-100 p-2 md:p-4 rounded-md">
        <i class="{{ item.icon }} text-2xl mt-2"></i>
        <div class="mt-1 text-lg">{{ item.title }}</div> 
        <div class="mt-1 text-lg"> {{ item.text }}</div> 
      </div>

      {% endfor %}
</div>
  </div>

