{# Deprecated: use <salla-breadcrumb></salla-breadcrumb> #}
{#
| Variable            | Type               | Description                           |
|---------------------|--------------------|---------------------------------------|
| breadcrumbs         | object[]           | A list of breadcrumb for current page |
| breadcrumbs[].title | string             | A title of breadcrumb                 |
| breadcrumbs[].url   | string             | A url of breadcrumb                   |
#}

<ol class="flex items-center flex-wrap text-sm">
    {% for breadcrumb in breadcrumbs %}
        {% if not loop.last %}
            <li class="whitespace-nowrap"><a href="{{ breadcrumb.url }}" class="fix-align text-primary">{{ breadcrumb.title }}</a></li>
            <li><i class="sicon-keyboard_arrow_left arrow mx-2"></i></li>
        {% else %}
            <li><span class="fix-align">{{ breadcrumb.title|raw }}</span></li>
        {% endif %}
    {% endfor %}
</ol>



<nav class="wrap-breadcrumb" aria-label="breadcrumb">
    <h1 class="single-title font-weight-normal mb-3">التخفيضات</h1>
    <ol class="breadcrumb justify-content-center">
    <li class="breadcrumb-item"><a href="https://salla.sa/dev-vfzzr1j5wd2gioxs">الرئيسية</a></li>
    <li class="breadcrumb-item active" aria-current="page">التخفيضات</li>
    </ol>
    </nav>