{% extends "layouts.master" %}
{% block content %}
<div class="">
    <div class="text-center font-bold">
        <nav class="wrap-breadcrumb">
            <salla-breadcrumb></salla-breadcrumb>
        </nav>
    </div>
</div>

    <div class=" lg:mb-24 lg:pt-10">
        <div class="flex flex-col lg:flex-row">
            
            <!-- Sidebar -->
            <nav aria-label="" class="lg:sticky top-0 lg:pt-2 lg:pb-2 w-full lg:w-72 rtl:lg:ml-8 ltr:lg:mr-8 bg-white  rounded-xl space-y-8 p-6 flex flex-col justify-start">
                {% if is_page('customer.profile') %}
                    <div class="text-center mb-6">
                        <div class="h-24 w-24 mx-auto avatar-wrap bg-gray-100 rounded-full">
                            <salla-file-upload profile-image value="{{ user.avatar }}">
                                <span class="avatar-placeholder flex justify-center items-center flex-col">
                                    <span class="sicon-user text-2xl text-gray-500"></span>
                                    <span class="text-sm text-gray-500">{{ trans('common.uploader.choose_suitable_picture') }}</span>
                                </span>
                            </salla-file-upload>
                        </div>
                    </div>
                {% endif %}
                
                <!-- Sidebar Menu Items -->
                <div class="block-side-menu bg-black text-white p-4 rounded-lg shadow-lg overflow-x-auto whitespace-nowrap text-sm space-y-4">
                    <div class="font-medium text-lg">
                        <salla-user-menu inline></salla-user-menu>
                    </div>
                </div>
            </nav>
            
            <!-- Main Content -->
            <div class="main-content w-full flex-1 lg:pt-10 lg:px-8 space-y-6">
                <h1 class="font-bold text-2xl text-center sm:text-left mb-4 text-gray-800">
                    {{ page.title }}
                    {% if is_current_url('order') and order.source is same as('buy_as_gift') %}
                        <span class="inline-block text-primary mx-2"><i class="sicon-gift-sharing"></i>&nbsp;{{ trans('pages.orders.gift_tag') }}</span>
                    {% endif %}
                </h1>
                
                {# Main content block will be rendered here #}
                {% block inner_content %}{% endblock %}
            </div>
            
        </div>
    </div>
    
{% endblock %}

